
body, h1, p {
    margin: 0;
}

p, a {
    font-size: 20px;
}

header {
    margin-bottom: 20px;     
    background-color: rgb(244, 79, 79); 
    text-align: center;       
}

header h1 {
    color: rgb(255, 255, 255); 
}

/* main要素全体の余白 */
main {
    padding: 10px;
}

#parent {
    display: flex;             
    justify-content: space-evenly; 
}

.contents {
    border: 3px solid rgb(238, 204, 204); 
    flex-basis: 25%;           /* 幅を親要素の25%に設定 */
    padding: 10px 15px;        /* 内側の余白：上下10px、左右15px */
    margin: 20px 0;            /* 外側の余白：上下20px、左右0 */
    text-align: center;        
}

h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122); 
}

h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;         
    color: rgb(97, 206, 249);  
}

.contents img {
    margin: 10px 0;            
    width: 70%;                
}

footer {
    background-color: rgb(244, 79, 79); 
    text-align: center;             
}

footer a {
    color: rgb(255, 255, 255);     
}

footer a:visited {
    color: rgb(193, 234, 251);
}

footer a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px; 
    }
    p {
        font-size: 25px;
    }
    #parent {
        flex-direction: column; /* 横並びから縦並びに変更 */
    }
}